<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="br.com.rafaelvieira" level="debug" />

    <springProfile name="default">
        <logger name="org.hibernate.SQL" level="debug" />
    </springProfile>
</configuration>

<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <root level="debug">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->