vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.navFilters-custom-font {
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  font-weight: 600;
  color: var(--lumo-secondary-text-color);
  text-transform: uppercase;
  margin: var(--lumo-space-s) 0;
}
